<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<section class="title-bar">
  <h1 class="title">Đăng ký</h1>
</section>

<div class="login-container">
  <div class="login-left">
    <form class="login-form" id="register-form">
      <h1 class="login-title">Create Account</h1>
      <div class="social-icons">
        <a href="#" class="social-circle">f</a>
        <a href="#" class="social-circle">G+</a>
        <a href="#" class="social-circle">in</a>
      </div>
      <p class="login-subtext">Hoặc sử dụng email của bạn để đăng ký:</p>
      <label><input type="text" name="ten_nguoi_dung" placeholder="Họ và tên" class="login-input" required></label>
      <label><input type="text" name="ten_tai_khoan" placeholder="Tên đăng nhập" class="login-input" required></label>
      <label><input type="password" name="mat_khau" placeholder="Mật khẩu" class="login-input" required></label>
      <label><input type="password" name="nhap_lai_mat_khau" placeholder="Nhập lại mật khẩu" class="login-input" required></label>
      <label><input type="email" name="email" placeholder="Email" class="login-input" required></label>
      <label><input type="number" name="so_dien_thoai" placeholder="Số điện thoại" class="login-input"></label>

      <button class="login-btn" type="submit">ĐĂNG KÝ</button>
    </form>
  </div>
  <div class="login-right">
    <p class="f28">Chào mừng trở lại!</p>
    <p class="f20">Để giữ kết nối với chúng tôi<br> vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
    <button id="goto-login-btn" class="signup-btn">ĐĂNG NHẬP</button>
  </div>
</div>