<section class="title-bar">
    <h1 class="title">Chọn hành động</h1>
</section>

<section class="content-container">
    <div class="card b-hover-yellow" onclick="changeURL('/nhan-vien/tao-hoa-don')">
        <p class="f20">Tạo hóa đơn mua trực tiếp</p>
    </div>
    <div class="card b-hover-yellow" onclick="changeURL('/quan-ly-du-lieu/san-pham')">
        <p class="f20">Quản lí dữ liệu cửa hàng</p>
    </div>
</section>
