<section class="title-bar">
    <h1 class="title">Quản lí dữ liệu</h1>
</section>

<section class="content-container">
    <div class="left-bar">
        <div class="scroll h40v">
            <h2 class="f28">Bảng dữ liệu</h2>
            <div class="card b-hover-yellow" onclick="">
                <p class="f20">Sản Phẩm</p>
            </div>
            <div class="card b-hover-yellow" onclick="">
                <p class="f20">Tài khoản</p>
            </div>
            <div class="card b-hover-yellow" onclick="">
                <p class="f20">Nhập hàng</p>
            </div>
            <div class="card b-hover-yellow" onclick="">
                <p class="f20">Hóa Đơn</p>
            </div>
            <div class="card b-hover-yellow" onclick="">
                <p class="f20">Hóa đơn chi tiết</p>
            </div>
            <div class="card b-hover-yellow" onclick="">
                <p class="f20">Nạp tiền</p>
            </div>
            <div class="card b-hover-yellow" onclick="">
                <p class="f20">Giỏ hàng</p>
            </div>
        </div>

    </div>


    <div class="right-bar">
        <table class="" id="">

        </table>
    </div>


</section>
