
<section class="title-bar">
    <h1 class="title">Bộ sưu tập nước hoa</h1>
</section>

<section class="content-container">
    <div class="left-bar">
        <div class="scroll h40v">
            <h2 class="f28">Danh mục sản phẩm</h2>
            <div class="card b-hover-yellow" onclick="LoadSanPham()">
                <p class="f20">Tất cả sản phẩm</p>
            </div>
            <div class="card b-hover-yellow" onclick="LoadSanPham('Nam')">
                <p class="f20">Nước hoa nam</p>
            </div>
            <div class="card b-hover-yellow" onclick="LoadSanPham('Nữ')">
                <p class="f20">Nước hoa nữ</p>
            </div>
            <div class="card b-hover-yellow" onclick="LoadSanPham('Unisex')">
                <p class="f20">Nước hoa Unisex</p>
            </div>
        </div>

    </div>


    <div class="right-bar">
        <div class="full-width card h40v">
            <ul id="listProduct" class="container width85 scroll">

            </ul>
        </div>
    </div>


</section>



