<section class="title-bar">
  <h1 class="title">Đăng nhập</h1>
</section>


<section class="content-container">
  <div class="width50 form-1 container">
    <form class="width85" action="/tai-khoan/kiem-tra-dang-nhap" method="POST">
      <label class="f28">Tên đăng nhập:<br>
        <input class="form-2 full-width" type="text" name="ten_tai_khoan" placeholder="Nhập tên đăng nhập" required>
        <br><br>
      </label>
      <label class="f28">Mật khẩu:<br>
        <input class="form-2 full-width" type="password" name="mat_khau" placeholder="Nhập mật khẩu" required>
      </label>
      <br><br>
      <div class="full-width container">
        <a href="/dang_ki" class="hover-red f20">Đăng kí</a>
        <a href="/quen_mat_khau" class="hover-red f20">Quên mật khẩu?</a>
      </div>
      <br>
      <button type="submit" class="button">Đăng nhập</button>
    </form>
  </div>
</section>