

<section class="title-bar">
  <h1 class="title">Giới thiệu</h1>
</section>

<section class="content-container">
    <div class="left-bar">
        <div class="card b-hover-yellow">
            <h3>Phạm Văn Minh</h3>
            <button class="button" onclick="showInfo(0)">Xem thông tin</button>
        </div>
        <div class="card b-hover-yellow">
            <h3>Phạm Hữu Linh</h3>
            <button class="button" onclick="showInfo(1)">Xem thông tin</button>
        </div>
        <div class="card b-hover-yellow">
            <h3>Nguyễn Đình Đức Mạnh</h3>
            <button class="button" onclick="showInfo(2)">Xem thông tin</button>
        </div>
        <div class="card b-hover-yellow">
            <h3>Trần Đình Nhân</h3>
            <button class="button" onclick="showInfo(3)">Xem thông tin</button>
        </div>

    </div>

    <div class="right-bar">
        <div class="form-1 width50" id="content" >
            <h2 class="f28">NLMM</h2><br>
            <p class="f20">Doanh nghiệp nước hoa tỉ đô <(")</p><br>
            <p class="f20">Đội ngũ quản lí uy tín <(")</p>
        </div>
    </div>

</section>

