<section class="title-bar">
  <h1 class="title">Liên hệ</h1>
</section>

<section class="content-container">
  <div class="left-bar">
    <h2 class="f28">Thông tin liên hệ</h2>
    <p>Phone: 0988756237</p>
    <p>Gmail: perfumeshop@nlmm.com</p>
    <p>Address: 122 Hoàng Quốc Việt, Cổ Nhuế, Cầu Giấy, Hà Nội</p>
  </div>

  <div class="right-bar">
    <div class="form-1 width50 container">
      <div class="full-width">
        <h2 class="f28">Liên hệ với chúng tôi</h2>
      </div>

      <div class="width85">
        <div class="line full-width">
          <label class="f20" for="hoVaTen">Họ và tên:</label><br>
          <input class="form-2 full-width" type="text" id="hoVaTen" placeholder="Nguyễn Văn A">
        </div>

        <div class="line full-width">
          <label class="f20" for="phone">Số điện thoại:</label><br>
          <input class="form-2 full-width" type="number" id="phone" placeholder="+84">
        </div>

        <div class="line full-width">
          <label class="f20" for="email">Email:</label><br>
          <input class="form-2 full-width" type="text" id="email" placeholder="Nhập gmail">
        </div>

        <div class="line full-width">
          <label class="f20" for="ghiChu">Ghi chú:</label><br>
          <input class="form-2 full-width" type="text" id="ghiChu" placeholder="Ghi chú...">
        </div>
      </div>

      <div class="full-width">
        <button class="button width70" onclick="submit()">Gửi ngay</button>
      </div>

    </div>



  </div>

</section>


