
<section class="title-bar">
    <h1 class="title">Trang cá nhân</h1>
</section>

<section class="content-container">
    <div class="left-bar">
        <div class="card b-hover-yellow" onclick="LoadTrangCaNhan()">
            <p class="f20">Thông tin cá nhân</p>
        </div>
        <div class="card b-hover-yellow" onclick="">
            <p class="f20">Lịch sử mua hàng</p>
        </div>
        <div class="card b-hover-yellow" onclick="NapTien()">
            <p class="f20">Nạp tiền</p>
        </div>
        <div class="card b-hover-yellow" onclick="changeURL('')">
            <p class="f20">Đổi mật khẩu</p>
        </div>
        <div class="card b-hover-yellow" onclick="changeURL('/tai-khoan/dang-xuat')">
            <p class="f20">Đăng xuất</p>
        </div>
    </div>


    <div class="right-bar h40v">
        <div class="form-1 width50" id="content" >

        </div>
    </div>


</section>

