<section class="">
    <h1 id="title">Liên hệ</h1>
</section>

<section class="container">
    <div class="left-bar">
        <h2>Thông tin liên hệ</h2>
        <p>Phone: 0988756237</p>
        <p>Gmail: perfumeshop@nlmm.com</p>
        <p>Address: 122 Hoàng Quốc Việt, Cổ Nhuế, Cầu Giấy, Hà Nội</p>
    </div>

    <div class="right-bar">

        <h2>Liên hệ với chúng tôi</h2>

        <label for="hoVaTen">Họ và tên:</label>
        <input type="text" id="hoVaTen" placeholder="Nguyễn Văn A">

        <label for="phone">Số điện thoại:</label>
        <input type="number" id="phone" placeholder="+84">

        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="Nhập gmail">

        <label for="ghiChu">Ghi chú:</label>
        <input type="text" id="ghiChu" placeholder="Ghi chú...">

        <button onclick="submit()">Gửi ngay</button>

    </div>

</section>
